<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="com.nopcommerce.demo.customListeners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="Top Menu Test">
        <classes>
            <class name="com.nopcommerce.demo.testsuite.TopMenuTest"/>
        </classes>
    </test>
    <test name="ElectronicsTest">
        <classes>
            <class name="com.nopcommerce.demo.testsuite.ElectronicsTest"/>
        </classes>
    </test>
    <test name="TestSuiteTest">
        <classes>
            <class name="com.nopcommerce.demo.testsuite.TestSuiteTest"/>
        </classes>
    </test>
</suite>